.containerFormular {
    padding: 20px;
    margin-left: 280px; 
    max-width: calc(100% - 280px); 
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e3e3e3;
    background-image: url("https://www.transparenttextures.com/patterns/60-lines.png");
  } 

  h1 {
  text-align: center;
  font-size: 28px;
  color: #333;
  margin-bottom: 20px;
}

.form-container {
    display: flex;
    gap: 15px;
    width: 100%;
  }

  .form-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
  }

  .form-group {
    display: flex;
    flex-direction: column;
    flex:1;
    margin: 10px;
    min-width: 200px;
  }

  .colegi-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
  }
  
  .colegi-table th, .colegi-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .colegi-table th {
    background-color: #f2f2f2;
  }

  .colegi-table tr {
    background-color: #f2f2f2;
  }
  .tabel {
    width: 100%;
    display: table;
  }

  .butonFormular {
    display: flex;
    justify-content: flex-end; /* Mută conținutul spre dreapta */
    margin-right: 10px;
  }

  .searchCazare {
    display: flex;
    flex-direction: row;
  }
  
  .randSelectatCerere {
    background-color: #a8e6a3 !important;
  }

  .submit-btn {
    background: #007bff;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
  }
  .submit-btn:hover {
    background: #0056b3;
  }

  .btn-add {
    background: #4CAF50;
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
  }
  .btn-remove {
    background: #ff4d4d;
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
  }
  .btn-add:hover, .btn-remove:hover {
    opacity: 0.8;
  }

  .form-group select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 5px;
    background: white;
    color: #333;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }

  .form-group select:hover {
    border-color: #007bff;
  }

  .form-group label {
    font-weight: bold;
    font-size: 16px;
    color: #333;
    margin-bottom: 5px;
    display: block;
  }

  .form-group select:focus {
    border-color: #0056b3;
    outline: none;
    box-shadow: 0px 0px 5px rgba(0, 91, 187, 0.5);
  }

  .search-bar:focus {
    border-color: #0056b3;
    outline: none;
    box-shadow: 0px 0px 5px rgba(0, 91, 187, 0.5);
  }
  