.containerFormular {
    padding: 20px;
    margin-left: 280px; 
    max-width: calc(100% - 280px); 
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e3e3e3;
    background-image: url("https://www.transparenttextures.com/patterns/60-lines.png");
  } 

  h1 {
  text-align: center;
  font-size: 28px;
  color: #333;
  margin-bottom: 20px;
}

.form-container {
    display: flex;
    gap: 15px;
    width: 100%;
  }

  .form-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
  }

  .form-group {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 10px;
    min-width: 200px;
  }

  .colegi-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
  }
  
  .colegi-table th, .colegi-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .colegi-table th {
    background-color: #f2f2f2;
  }

  .colegi-table tr {
    background-color: #f2f2f2;
  }
  .tabel {
    width: 100%;
    display: table;
  }

  .butonFormular {
    display: flex;
    justify-content: flex-end; /* Mută conținutul spre dreapta */
  }